.meddelare-container {
    display: inline-block;
    padding-top: 1.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0;
}

.meddelare-container .meddelare-network {
    position: relative;
    display: inline-block;
    border: 0.01em solid #fff;
}

.meddelare-container .meddelare-network:after {
    position: absolute;
    z-index: 98;
    top: -1.3em;
    display: block;
    width: 100%;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    content: attr(data-count);
    text-align: center;
    white-space: nowrap;
    background: darkgrey;
    border: 0.01em solid #fff;
    border-radius: 0.01em;
    color: #fff;
    opacity: 0.8;
}

.meddelare-container .meddelare-network:before {
    z-index: 97;
    display: block;
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    content: "";
    border: solid;
    border-color: #ccc transparent;
    border-width: .5em .5em 0 .5em;
}

.meddelare-container .meddelare-network:hover:after {
    transition: 0.15s ease-in all;
    opacity: 1;
}

.meddelare-container .meddelare-network .meddelare-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: darkgrey;
    border: hidden;
    border-bottom: 0.05em solid #FFFFFF;
    transition: 0.2s ease-out all;
    opacity: 0.8;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    color: #fff;
    font-family: serif;
    margin-bottom: 0.75em;
}

.meddelare-container .meddelare-network:hover .meddelare-icon {
    border-bottom-color: #343437;
    transition: 0.15s ease-in all;
    opacity: 1;
}

.meddelare-container .meddelare-network[data-meddelare-network=facebook] .meddelare-icon:before {
    content: "f";
}

.meddelare-container .meddelare-network[data-meddelare-network=twitter] .meddelare-icon:before {
    content: "t";
}

.meddelare-container .meddelare-network[data-meddelare-network=googleplus] .meddelare-icon:before {
    content: "g";
}

.meddelare-container .meddelare-network[data-meddelare-network=facebook] .meddelare-icon,
.meddelare-container .meddelare-network[data-meddelare-network=facebook]:after {
    background-color: #3b5998;
}

.meddelare-container .meddelare-network[data-meddelare-network=twitter] .meddelare-icon,
.meddelare-container .meddelare-network[data-meddelare-network=twitter]:after {
    background-color: #00aced;
}

.meddelare-container .meddelare-network[data-meddelare-network=googleplus] .meddelare-icon,
.meddelare-container .meddelare-network[data-meddelare-network=googleplus]:after {
    background-color: #dd4b39;
}